#{extends 'main.html' /}
#{set title:'Start' /}

#{welcomemenu id:"start"/}

<section class="ui center aligned middle aligned segment">
    <div class="ui two column grid">
        <div class="column">
            <h1 class="ui header">
                Welcome to PlayGym
            </h1>
            <p>
            <p>Fill in your assessment week by week and track your BMI.</p>
            <p>Trainers will comment on your progress and encourage you to keep going!</p>
            <p>Please <a id="signup" class="item" href="/signup">Signup</a> or <a id="login" class="item" href="/login">Login</a> using the menu above.</p>
        </div>
        <div class="column">
            <img class="ui large image" src="/public/images/bmi.jpg">
        </div>
    </div>

</section>



